.courses {
  @extend %grid;
  grid-template-columns: repeat(auto-fill, minmax(min(32.8rem, 100%), 1fr));
  row-gap: calc($spacing-32 + 2.8rem);
  column-gap: $spacing-24;
  margin-block-start: $spacing-64;
  margin-block-end: $spacing-80;
  margin-inline: $spacing-20;

  .course {
    @extend %flexbox;
    align-items: flex-start;
    gap: $spacing-24;
    padding-inline: $spacing-32;
    padding-block-start: $spacing-64;
    padding-block-end: $spacing-40;
    background-color: $color-white;
    border-radius: 1.5rem;
    position: relative;

    box-shadow: 0 2.5rem 5rem 0 rgba($color: #ccc, $alpha: 0.4);

    &--ad {
      padding: $spacing-32;
      background: $color-gradient-pink;

      h2 {
        @extend %text-preset-3;
        font-size: 2.4rem;
        color: $color-white;
      }
    }

    &__heading {
      @extend %text-preset-4;
      font-size: 2rem;
      color: $color-blue-900;
    }

    &__description {
      @extend %text-preset-6;
      font-weight: 500;
      color: $color-grey;
      text-wrap: auto;
    }

    &__link {
      padding: 0;
      width: auto;
      height: auto;
    }

    &__icon {
      position: absolute;
      top: -2.8rem;
      left: 3.2rem;
    }
  }
}

@include respond-to("(min-width: 45em)") {
  .courses {
    .course {
      &--ad {
        padding-block-start: $spacing-64;
        padding-block-end: $spacing-40;
        align-self: stretch;
        justify-content: flex-start;
      }
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .courses {
    margin-inline: $spacing-44;
    margin-block-end: $spacing-144;

    .course {
      min-height: 32.2rem;
      &__description {
        font-size: 1.8rem;
      }
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .courses {
    margin-inline: auto;
    row-gap: calc(5.6rem + 2.8rem);
    column-gap: $spacing-32;

    .course {
      max-width: 35.2rem;
      justify-content: space-between;

      &--ad {
        h2 {
          font-size: 3.2rem;
          text-wrap: auto;
        }
      }

      &__heading {
        font-size: 2.4rem;
      }
    }
  }
}
