.hero {
  @extend %grid;
  margin: $spacing-64 $spacing-20;
  row-gap: $spacing-48;

  &__info {
    @extend %flexbox;
    align-items: flex-start;
    gap: $spacing-24;
  }

  &__heading {
    @extend %text-preset-2;
    color: $color-blue-900;
  }

  &__description {
    @extend %text-preset-5;
    color: $color-grey;
    margin-block-end: $spacing-16;
  }

  &__btn {
    @extend %button-style-mobile;
    @include typography(1.6rem, 700, 1.75);
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 $spacing-44;
    gap: 0 $spacing-24;

    &__info {
      justify-self: start;
    }

    &__btn {
      width: 15.2rem;
      @include typography(1.8rem, 700, 1.5);
    }

    &__image {
      img {
        position: relative;
        bottom: 4.15rem;
        width: 50rem;
        height: 52.8rem;
        object-fit: cover;
      }
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .hero {
    column-gap: $spacing-32;

    &__heading {
      @include typography(5.6rem, 800, 1.2);
    }

    &__description {
      max-width: 45.7rem;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    padding-inline-start: 0;
    padding-block: $spacing-64;

    &__btn {
      width: 16.8rem;
      height: 5.9rem;
      padding: $spacing-16 $spacing-32;
    }

    &__image {
      img {
        width: auto;
        height: auto;
        position: static;
        max-width: none;
        margin-right: -18rem;
        margin-top: -17rem;
      }
    }
  }
}
