.hero {
  @extend %grid;
  padding: $spacing-64 $spacing-20;
  row-gap: $spacing-48;

  &__info {
    @extend %flexbox;
    align-items: flex-start;
    gap: $spacing-24;
  }

  &__heading {
    @extend %text-preset-2;
    color: $color-blue-900;
  }

  &__description {
    @extend %text-preset-5;
    color: $color-grey;
    margin-block-end: $spacing-16;
  }

  &__btn {
    @extend %button-style-mobile;
    @include typography(1.6rem, 700, 1.75);
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 $spacing-44;
    gap: 0 $spacing-24;

    &__btn {
      width: 15.2rem;
      @include typography(1.8rem, 700, 1.5);
    }

    &__image {
      img {
        position: relative;
        bottom: 4.15rem;
        width: 50rem;
        height: 52.8rem;
        object-fit: cover;
      }
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    padding-inline: 0;
    padding-block: $spacing-64;
    margin-inline-start: 16rem;

    &__image {
      img {
        width: 54.4rem;
        height: 56rem;
      }
    }
  }
}
